.body{
    background-color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.main{
    background-color: #B5756D;
    opacity: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.3rem;
}

.cabecalho-titulo{
    font-family: "Cinzel", serif;
    font-size: 1.5rem;
    margin-bottom: 0px;
}

.cabecalho-subTitulo{
    margin: 0px;
    font-weight: bold;
}

.card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.2rem;
    border: solid 1px black;
    border-radius: 1.0rem;
    width: 30vh;
    margin: 5px 5px; 
}

.card-imgSession{
    margin-right: 1rem;
}

.card-link{
    text-decoration: none;
    color: #000000;
}

